@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;   
    font-size: 16px;
}

.container {
    max-width: 1145px;
    width: 80%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* header  */


/* nav  */
.nav {
    padding-top: 10px;
    margin-bottom: 77px;
}

/* .nav-top  */
.nav-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.nav-top__text {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: rgba(51, 51, 51, 0.70);
}

.nav-top__left {
    display: flex;
    gap: 30px;
}

.nav-top__line {
    width: 1px;
    height: 50px;
    background: rgba(51, 51, 51, 0.10);
}

.address {
    margin-top: 6px;
    padding-left: 26px;
    background-image: url(../images/location.svg);
    background-repeat: no-repeat;
    background-position: left 0;
}

.work {
    margin-top: 6px;
    padding-left: 27px;
    background-image: url(../images/time.svg);
    background-repeat: no-repeat;
    background-position: left 0;
}

.call {
    margin-top: 6px;
    padding-left: 28px;
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    background-position: left 0;
}

.nav__line {
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(51, 51, 51, 0.10);
}

/* nav-bottom  */

.nav-bottom {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bottom__list {
    display: flex;
    gap: 46px;
}

.nav-bottom__link {
    font-weight: 500;
    line-height: normal;
    color: #333;
    transition: color 0.4s ease;
}

.nav-bottom__link:hover {
    color: #4762FF;
}

.nav-bottom__button {
    font-weight: 600;
    line-height: normal;
    color: #FFF;
    padding: 11px 23px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #4762FF;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.nav-bottom__button:hover { 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* main  */

/* hero  */

.hero {
    margin-bottom: 29px;
    padding-bottom: 190px;
    background-image: url(../images/hero.img.png);
    background-repeat: no-repeat;
    background-position: right 0;
}

.hero__title {
    margin-bottom: 16px;
    font-feature-settings: 'liga' off;
    font-size: 60px;
    font-weight: 700;
    line-height: 76px;
    color: #333;
}

.hero__text {
    margin-bottom: 32px;
    font-feature-settings: 'liga' off;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgba(51, 51, 51, 0.80);
}

.hero__button {
    padding: 11px 37px;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #FFF;
    border: none;
    border-radius: 8px;
    background: #4762FF;
    transition: box-shadow 0.2s ease;
}

.hero__button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* services  */

.services {
    padding-bottom: 72px;
}

.services__title {
    margin-bottom: 18px;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    color: #333;
}

.services__text {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgba(51, 51, 51, 0.80);
}

/* cards  */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

.card {
    width: calc(50% - 36px);
    padding-top: 25px;
    padding-right: 111px;
    padding-bottom: 133px;
    padding-left: 28px;
    border-radius: 9px;
    background-color: #F4F6FA;
    background-image: url(../images/card1.png);
    background-repeat: no-repeat;
    background-position: right top 25px;
}

.card:nth-child(2) {
    background-image: url(../images/card2.png);
    background-repeat: no-repeat;
    background-position: right top 72px;
}

.card:nth-child(3) {
    background-image: url(../images/card3.png);
    background-repeat: no-repeat;
    background-position: right top 25px;
}

.card:nth-child(4) {
    background-image: url(../images/card4.png);
    background-repeat: no-repeat;
    background-position: right top 98px;
}

.card__title {
    margin-bottom: 15px;
    font-feature-settings: 'liga' off;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: #333;
}

.card__text {
    font-feature-settings: 'liga' off;
    font-weight: 400;
    line-height: normal;
    color: rgba(51, 51, 51, 0.80);
}

/* brands  */

.brands {
    padding-top: 67px;
    padding-bottom: 197px;
    background: url(../images/brands2.svg) calc(100% - 165px)  calc(100% - 364px),
    url(../images/brands4.svg)  calc(100% - 365px), url(../images/brands1.svg) right 300px;
    background-repeat: no-repeat;
}

.brands__info {
    max-width: 576px;
}

.brands__title {
    margin-bottom: 16px;
    font-feature-settings: 'liga' off;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    color: #333;
}

.brands__text {
    margin-bottom: 14px;
    font-feature-settings: 'liga' off;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgba(51, 51, 51, 0.80);
}

/* footer  */
#footer {
    padding-top: 50px;
    padding-bottom: 65px;
    background-color: #1A1A1A;
    color: #FFF;
}

/* footer top  */

.footer__top {
    display: flex;
    gap: 90px;
}

.footer__title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-top-right {
    display: flex;
    gap: 90px;
}

.questions__link {
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}

.social-media__info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 32px;
    background: url(../images/facebook.svg), url(../images/instagram.svg) left bottom;
    background-repeat: no-repeat;
}

@media (max-width: 1190px) {
    .footer__top {
        flex-direction: column;
    }

    .footer-top-right {
        flex-direction: column;
    }
}

@media (max-width: 1150px) {
    .nav-bottom__list {
        gap: 20px;
    }
}

@media (max-width: 1050px) {
    .work {
        display: none;
    }

    .nav-bottom__list {
        display: none;
    }
}

@media (max-width: 925px) {
    .card__title {
        text-align: center;
    }

    .nav__text {
        text-align: center;
    }
}

@media (max-width: 790px) {
    .card {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .hero {
        background-image: url(../images/hero.img.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero__text {
        color: #FFF;
    }
}

@media (max-width: 550px) {
    .nav-top {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .nav-top__line {
        display: none;
    }

    .nav-bottom {
        flex-direction: column;
        gap: 30px;
    }

    .hero__title {
        text-align: center;
        font-size: 40px;
    }

    .hero__text {
        text-align: center;
        font-size: 16px; 
    }

    .hero__button {
        display: block;
        margin: 0 auto;
    }
}